.header {
   flex-grow: 1;
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 40px $main-spacing-x / 2;
   overflow: hidden;
   background-color: transparent;
   color: $white-color;

   @media(min-width: 300px) {
      padding: 40px $main-spacing-x; 
   }

   .header__header-box {
      .header__header {
         font-size: 3rem;

         @media(min-width: 300px) {
            font-size: 3.5rem;
         }

         @media(min-width: 576px) {
            font-size: 4rem;
         }
      }
      .header__sub-header {
         font-size: 1.4rem;
         color: darken($white-color, 15%);

         @media(min-width: 576px) {
            font-size: 1.6rem;
         }
      }
   }

   .header__logo {
      width: 80px;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      @media(min-width: 576px) {
         width: 100px;
      }

      .header__logo-img {
         width: 100%;
         height: auto;
      }
   }   
}