@keyframes bar-0 {
   0% {
      width: 0;
   }
   100% {
      width: var(--bar-width-0);
   }
}
@keyframes bar-1 {
   0% {
      width: 0;
   }
   100% {
      width: var(--bar-width-1);
   }
}
@keyframes bar-2 {
   0% {
      width: 0;
   }
   100% {
      width: var(--bar-width-2);
   }
}
@keyframes bar-3 {
   0% {
      width: 0;
   }
   100% {
      width: var(--bar-width-3);
   }
}