.quiz {
   flex-grow: 10;
   margin: 0 $main-spacing-x / 2;
   padding: 0 ($main-spacing-x * 0.75);
   background-color: $white-color;
   border-radius: $main-radius;
   color: $text-color;
   overflow-y: auto;
   -webkit-box-shadow: 0px 0px 50px -11px rgba(138, 138, 138, 1);
   -moz-box-shadow: 0px 0px 50px -11px rgba(138, 138, 138, 1);
   box-shadow: 0px 0px 50px -11px rgba(138, 138, 138, 1);

   @media(min-width: 300px) {
      margin: 0 $main-spacing-x;
   }

   .quiz__header-box {
      display: none;
      justify-content: space-evenly;
      align-items: center;
      padding: 20px 15px;
      text-align: center;

      .quiz__header {
         font-size: 2rem;
      }
   }

   .quiz__question-box {

      .quiz__question-number {
         margin-top: 20px;
         margin-bottom: 5px;
         font-size: 1.6rem;
         font-weight: 600;
         color: $special-color;
      }

      .quiz__question-text {
         font-size: 2.4rem;
         margin-bottom: 20px;
      }
   }

   .quiz__answer-box {
      .quiz__answer-item {
         position: relative;
         display: flex;
         align-items: center;
         margin-bottom: 15px;
         padding: 20px 20px 20px 0;
         background-color: darken($white-color, 5%);
         font-size: 2rem;
         list-style: none;
         border-radius: $main-radius * 0.75;
         transition: background-color .3s ease-in-out;
         overflow-x: hidden;

         &:hover {
            cursor: pointer;
         }

         .quiz__aswer-icon {
            margin: 0 20px;
            font-size: 2.2rem;
            min-width: 22px;
            text-align: center;
         }

         .quiz__answer-text {
            font-size: 1.7rem;
            font-weight: 600;
            flex-grow: 1;
         }

         // .quiz__friend-icon {
         //    padding: 0 5px 0 25px;
         //    font-size: 2.4rem;
         //    color: $second-color;
         // }
         .quiz__bar {
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            // width: 30%;
            height: 5px;
            transition: background-color .3s ease-in-out;
            background-color: $second-color;
            animation-play-state: paused;
         }

         .quiz__bar--white {
            transition: background-color .3s ease-in-out;
            background-color: $white-color;
         }

         .quiz__bar--0 {
            animation: bar-0 3s 1 linear forwards;
         }
         .quiz__bar--1 {
            animation: bar-1 3s 1 linear forwards;
         }
         .quiz__bar--2 {
            animation: bar-2 3s 1 linear forwards;
         }
         .quiz__bar--3 {
            animation: bar-3 3s 1 linear forwards;
         }
      }

      .quiz__answer-item--active {
         background-color: $second-color;
         color: $white-color;
         -webkit-box-shadow: 0px 10px 26px -10px rgba(138, 138, 138, 1);
         -moz-box-shadow: 0px 10px 26px -10px rgba(138, 138, 138, 1);
         box-shadow: 0px 10px 26px -10px rgba(138, 138, 138, 1);
      }

      .quiz__aswer-submit {
         width: 100%;
         margin: 10px 0 25px;
         padding: 20px 10px;
         @extend %btn;
      }
   }
}

.quiz--game {
   display: block;
}

.quiz--win {
   // display: flex;
   display: none;
   flex-direction: column;
   text-align: center;

   .quiz__box {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .quiz__svg {
     max-width: 250px;
     margin-top: 20px;
   }
}

.quiz--lose {
   display: none;
   // display: flex;
   text-align: center;

   .quiz__box {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .quiz__svg {
      max-width: 250px;
   }

   .quiz__text-span {
      font-weight: bold;
      color: $special-color;
   }
}

.quiz__header {
   font-size: 2.5rem;
   color: $text-color;

   @media(min-width: 576px) {
      font-size: 3rem;
   }
}

.quiz__subheader {
   font-size: 2rem;
   color: $text-color;
   margin-bottom: 20px;

   @media(min-width: 576px) {
      font-size: 2.4rem;
   }
}

.quiz__text {
   font-size: 1.6rem;
   color: darken($white-color, 35%);
   margin-bottom: 10px;

   @media(min-width: 576px) {
      font-size: 1.7rem;
   }
}

.quiz__btn {
   width: 100%;
   margin: 20px auto;
   padding: 20px 10px; 
   @extend %btn;
}