$bg-main-color: #E9E9E9;
$bg-color-top: #8B80B6;
$bg-color-bottom: #F1F1F1;
$white-color: #fff;
$second-color: $bg-color-top;
$text-color: #485163;
$icon-color: #BDC1CA;
$special-color: #FCB651;

$main-spacing-x: 40px; 

$test-color: rgb(65, 65, 65);

$main-radius: 12px;