$bg-main-color: #E9E9E9;
$bg-color-top: #8B80B6;
$bg-color-bottom: #F1F1F1;
$white-color: #fff;
$second-color: $bg-color-top;
$text-color: #485163;
$icon-color: #BDC1CA;
$special-color: #FCB651;
$warning-color: rgba(255, 88, 88, 0.685);

$main-spacing-x: 40px; 

$test-color: rgb(65, 65, 65);

$main-radius: 12px;


%btn {
   border: none;
   background-color: $second-color;
   font-size: 2rem;
   color: $white-color;
   border-radius: $main-radius * 0.75;
   cursor: pointer;
   transition: background-color .3s ease-in-out;

   &:hover {
      background-color: darken($second-color, 15%);
   }
}