* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Nunito', sans-serif;
  position: relative;
  z-index: -3;
}

.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 576px) {
  .container {
    padding: 0 50px;
    background-color: #E9E9E9;
    position: relative;
    z-index: -2;
  }
}

@media (min-width: 576px) and (min-height: 770px) {
  .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    padding: 0 10%;
  }
}

.main {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
}

@media (min-width: 576px) {
  .main {
    height: 80%;
    min-height: 850px;
    max-height: 850px;
    max-width: 500px;
    -webkit-box-shadow: 10px 10px 70px -2px #a7a7a7;
    box-shadow: 10px 10px 70px -2px #a7a7a7;
    border-radius: 12px 12px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.main .main__bg-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -1;
  background-color: transparent;
}

.main .main__bg-container .--main__bg-top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #8B80B6;
}

@media (min-width: 576px) {
  .main .main__bg-container .--main__bg-top {
    border-radius: 12px 12px 0 0;
  }
}

.main .main__bg-container .--main__bg-bottom {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  background-color: #F1F1F1;
}

@media (min-width: 576px) {
  .main .main__bg-container .--main__bg-bottom {
    border-radius: 0 0 12px 12px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin: 100px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #767f91;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a1a6b3;
}

.header {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 20px;
  overflow: hidden;
  background-color: transparent;
  color: #fff;
}

@media (min-width: 300px) {
  .header {
    padding: 40px 40px;
  }
}

.header .header__header-box .header__header {
  font-size: 3rem;
}

@media (min-width: 300px) {
  .header .header__header-box .header__header {
    font-size: 3.5rem;
  }
}

@media (min-width: 576px) {
  .header .header__header-box .header__header {
    font-size: 4rem;
  }
}

.header .header__header-box .header__sub-header {
  font-size: 1.4rem;
  color: #d9d9d9;
}

@media (min-width: 576px) {
  .header .header__header-box .header__sub-header {
    font-size: 1.6rem;
  }
}

.header .header__logo {
  width: 80px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  .header .header__logo {
    width: 100px;
  }
}

.header .header__logo .header__logo-img {
  width: 100%;
  height: auto;
}

.quiz {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 20px;
  padding: 0 30px;
  background-color: #fff;
  border-radius: 12px;
  color: #485163;
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 50px -11px #8a8a8a;
  box-shadow: 0px 0px 50px -11px #8a8a8a;
}

@media (min-width: 300px) {
  .quiz {
    margin: 0 40px;
  }
}

.quiz .quiz__header-box {
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 15px;
  text-align: center;
}

.quiz .quiz__header-box .quiz__header {
  font-size: 2rem;
}

.quiz .quiz__question-box .quiz__question-number {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #FCB651;
}

.quiz .quiz__question-box .quiz__question-text {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.quiz .quiz__answer-box .quiz__answer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  padding: 20px 20px 20px 0;
  background-color: #f2f2f2;
  font-size: 2rem;
  list-style: none;
  border-radius: 9px;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.quiz .quiz__answer-box .quiz__answer-item:hover {
  cursor: pointer;
}

.quiz .quiz__answer-box .quiz__answer-item .quiz__aswer-icon {
  margin: 0 20px;
  font-size: 2.2rem;
}

.quiz .quiz__answer-box .quiz__answer-item .quiz__answer-text {
  font-size: 1.7rem;
  font-weight: 600;
}

.quiz .quiz__answer-box .quiz__aswer-submit {
  width: 100%;
  margin: 10px 0 25px;
  padding: 20px 10px;
  border: none;
  background-color: #8B80B6;
  font-size: 2rem;
  color: #fff;
  border-radius: 9px;
  cursor: pointer;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.quiz .quiz__answer-box .quiz__aswer-submit:hover {
  background-color: #625594;
}

.aside {
  min-height: 60px;
  margin-top: 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fff;
}

@media (min-width: 576px) {
  .aside {
    border-radius: 0 0 12px 12px;
  }
}

.aside__icon-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.aside__icon-box .aside__icon {
  padding: 10px;
  font-size: 2.2rem;
  color: #767f91;
}

.aside__icon-box .aside__icon:hover {
  cursor: pointer;
  color: #8B80B6;
}
/*# sourceMappingURL=index.css.map */